
@{
    ViewData["Title"] = "Users";
}
    <h1>@ViewData["Title"]</h1>
    <div class="actions">
        <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Create">Create</a>
        <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Edit">Edit</a>       
    </div>
    <table class="table">
        <thead class="thead-primary">
            <tr>
                <th>User</th>
                <th>Status</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Email</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Weishler Berman <br/><sub>#Weishler</sub></td>
                <td>aceptado</td>
                <td>04242029818</td>
                <td>15/12/21</td>
                <td>ilcreatore321@gmail.com</td>
                <td>Caracas</td>
            </tr>
        </tbody>
    </table>


